# dependencies
**/node_modules

# output
**/out
**/dist
**/*.tgz

# code coverage
**/coverage
**/*.lcov

# logs
**/logs
**/*.log

# dotenv environment variable files
**/.env
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local

# caches
**/.eslintcache
**/.cache
**/*.tsbuildinfo

# IDEs
**/.idea

# OS files
**/.DS_Store

# Database files
**/data/*.db

# Fly config
fly.toml
